{% extends 'users/homepage.html' %}
{% block content %}
<div class="col-md-6 col-xl-4">
   <div class="card card-congratulation-medal">
      <!----><!---->
      <div class="card-body">
         <!----><!---->
         <h5>Congratulations 🎉 John!</h5>
         <p class="card-text font-small-3"> You have won gold medal </p>
         <h3 class="mb-75 mt-2 pt-50"><a href="#" target="_self" class="">$48.9k</a></h3>
         <button type="button" class="btn btn-primary"> View Sales </button><img src="/demo/vuexy-vuejs-admin-dashboard-template/demo-2/img/badge.0fa134b5.svg" alt="Medal Pic" class="congratulation-medal">
      </div>
      <!----><!---->
   </div>
</div>
<div class="col-md-6 col-xl-8">
   <div class="card card-statistics">
      <!----><!---->
      <div class="card-header">
         <h4 class="card-title">Statistics</h4>
         <p class="card-text font-small-2 mr-25 mb-0"> Updated 1 month ago </p>
      </div>
      <div class="card-body statistics-body">
         <!----><!---->
         <div class="row">
            <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
               <div class="media">
                  <div class="media-aside mr-2 align-self-start">
                     <span class="b-avatar badge-light-primary rounded-circle" style="width: 48px; height: 48px;">
                        <span class="b-avatar-custom">
                        </span><!---->
                     </span>
                  </div>
                  <div class="media-body my-auto">
                     <h4 class="font-weight-bolder mb-0"> 
                        {% if statistics.completed %} {{statistics.completed}} {% else %}{{ 0 }} {% endif %} 
                     </h4>
                     <p class="card-text font-small-3 mb-0"> Completed </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
               <div class="media">
                  <div class="media-aside mr-2 align-self-start">
                     <span class="b-avatar badge-light-info rounded-circle" style="width: 48px; height: 48px;">
                        <span class="b-avatar-custom">
                        </span>
                        <!---->
                     </span>
                  </div>
                  <div class="media-body my-auto">
                     <h4 class="font-weight-bolder mb-0"> 
                        {% if statistics.is_overdue %} {{statistics.is_overdue}} {% else %}{{ 0 }} {% endif %} 
                     </h4>
                     <p class="card-text font-small-3 mb-0"> Overdue </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
               <div class="media">
                  <div class="media-aside mr-2 align-self-start">
                     <span class="b-avatar badge-light-danger rounded-circle" style="width: 48px; height: 48px;">
                        <span class="b-avatar-custom">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                              <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                              <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                              <line x1="12" y1="22.08" x2="12" y2="12"></line>
                           </svg>
                        </span>
                        <!---->
                     </span>
                  </div>
                  <div class="media-body my-auto">
                     <h4 class="font-weight-bolder mb-0"> {% if statistics.currently_due %} {{statistics.currently_due}} {% else %}{{ 0 }} {% endif %}</h4>
                     <p class="card-text font-small-3 mb-0"> Coming Due Soon </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-xl-3">
               <div class="media">
                  <div class="media-aside mr-2 align-self-start">
                     <span class="b-avatar badge-light-success rounded-circle" style="width: 48px; height: 48px;">
                        <span class="b-avatar-custom">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                              <line x1="12" y1="1" x2="12" y2="23"></line>
                              <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                           </svg>
                        </span>
                        <!---->
                     </span>
                  </div>
                  <div class="media-body my-auto">
                     <h4 class="font-weight-bolder mb-0"> 
                        {% if statistics.total %} {{statistics.total}} {% else %}{{ 0 }} {% endif %} 
                     </h4>
                     <p class="card-text font-small-3 mb-0"> Total </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!----><!---->
      <div class="media-body my-auto">
         <h4 class="font-weight-bolder mb-0"> 
            {% if statistics.archived %} {{statistics.archived}} {% else %}{{ 0 }} {% endif %}        
         </h4>
         <p class="card-text font-small-3 mb-0"> Archived </p>
      </div>
   </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}